::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece  {
	background-color: #cccccc;
}

::-webkit-scrollbar-thumb:vertical {
	border-left: 1px solid #3d3d3d;
	border-right: 1px solid #3d3d3d;
	background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb:horizontal {
	border-top: 1px solid #3d3d3d;
	border-bottom: 1px solid #3d3d3d;
	background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #2d2d2d;
}
